<div class="footer">
    <div class="grid footer__main">
        <div class="footer__support grid__column-4">
            <h3 class="footer__support-call">Tổng đài hỗ trợ miễn phí</h3>
            <ul class="footer__support-call-item">
                <li class="footer__support-call-item-text">Gọi mua hàng</li>
                <li class="footer__support-call-item-phone"> 1800.2097</li>
                <li class="footer__support-call-item-time">(7h30 - 22h00)</li>
            </ul>
            <ul class="footer__support-call-item">
                <li class="footer__support-call-item-text">Gọi khiếu nại</li>
                <li class="footer__support-call-item-phone"> 1800.2063</li>
                <li class="footer__support-call-item-time">(8h00 - 21h30)</li>
            </ul>
            <ul class="footer__support-call-item">
                <li class="footer__support-call-item-text">Gọi bảo hành</li>
                <li class="footer__support-call-item-phone"> 1800.2064</li>
                <li class="footer__support-call-item-time">(8h - 21h00)</li>
            </ul>

            <h3 class="footer__support-payment">Phương thức thanh toán</h3>
            <div class="footer__support-payment-item">
                <a href="#" class="footer__support-payment-item-link">
                    <img src="https://cdn2.cellphones.com.vn/x35,webp/media/wysiwyg/apple-pay-og.png" alt=""
                        class="footer__support-payment-item-img">
                </a>
                <a href="#" class="footer__support-payment-item-link">
                    <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/vnpay-logo.png" alt=""
                        class="footer__support-payment-item-img">
                </a>
                <a href="#" class="footer__support-payment-item-link">
                    <img src="https://cdn2.cellphones.com.vn/x/media/wysiwyg/momo_1.png" alt=""
                        class="footer__support-payment-item-img">
                </a>
                <a href="#" class="footer__support-payment-item-link">
                    <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/onepay-logo.png" alt=""
                        class="footer__support-payment-item-img">
                </a>
                <a href="#" class="footer__support-payment-item-link">
                    <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/mpos-logo.png" alt=""
                        class="footer__support-payment-item-img">
                </a>
                <a href="#" class="footer__support-payment-item-link">
                    <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/kredivo-logo.png" alt=""
                        class="footer__support-payment-item-img">
                </a>
                <a href="#" class="footer__support-payment-item-link">
                    <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/zalopay-logo.png" alt=""
                        class="footer__support-payment-item-img">
                </a>
                <a href="#" class="footer__support-payment-item-link">
                    <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/alepay-logo.png" alt=""
                        class="footer__support-payment-item-img">
                </a>
                <a href="#" class="footer__support-payment-item-link">
                    <img src="https://cdn2.cellphones.com.vn/x/media/wysiwyg/fundiin.png" alt=""
                        class="footer__support-payment-item-img">
                </a>
            </div>

            <h3 class="footer__register-new">ĐĂNG KÝ NHẬN TIN KHUYẾN MÃI</h3>
            <h6 class="footer__register-voucher">(*) Nhận ngay voucher 10%</h6>
            <p class="footer__register-string">*Voucher sẽ được gửi sau 24h, chỉ áp dụng cho khách hàng mới</p>
            <form action="" class="footer__form">
                <input type="text" class="footer__form-email" placeholder="Email*">
                <input type="text" class="footer__form-sdt" placeholder="Số điện thoại">
            </form>
            <div class="footer__form-agress">
                <input type="checkbox" class="footer__form-agress-btn" value="1" disabled="disabled"
                    checked="checked"></input>
                <a href="#" class="footer__agree">Tôi đồng ý với điều khoản của SHOP_PTT</a>
            </div>
            <button class="footer__button-register">Đăng ký ngay</button>
        </div>
        <div class="footer__information-policies grid__column-4">
            <div class="footer__information-policies-header">
                <h3 class="footer_information-policies-heading">Thông tin và chính sách</h3>
                <ul class="footer_information-policies-lists">
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Mua hàng và thanh toán Online
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Mua hàng trả góp Online
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Mua hàng trả góp bằng thẻ tín dụng
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Chính sách giao hàng
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Tra điểm Smember
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Xem ưu đãi Smember
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Tra thông tin bảo hành
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Tra cứu hoá đơn điện tử
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Thông tin hoá đơn mua hàng
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Trung tâm bảo hành chính hãng
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Quy định về việc sao lưu dữ liệu
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="footer__information-policies grid__column-4">
            <div class="footer__information-policies-header">
                <h3 class="footer_information-policies-heading">Dịch vụ và thông tin khác</h3>
                <ul class="footer_information-policies-lists">
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Khách hàng doanh nghiệp(B2B)
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Ưu đãi thanh toán
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Quy chế hoạt động
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Chính sách bảo mật thông tin cá nhân
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Chính sách Bảo hành
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Liên hệ hợp tác kinh doanh
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Tuyển dụng
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Dịch vụ bảo hành điện thoại
                        </a>
                    </li>
                    <li class="footer_information-policies-item">
                        <a href="#" class="footer_information-policies-item-link">
                            Dịch vụ bảo hành mở rộng
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__connect-shop grid__column-4">
            <h3 class="footer__connect-shop-heading">Kết nối với SHOP_PTT</h3>
            <div class="footer__connect-shop-socials">
                <a href="#" class="footer__connect-shop-social-link">
                    <img src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-youtube.png" alt=""
                        class="footer__connect-shop-social-img">
                </a>
                <a href="#" class="footer__connect-shop-social-link">
                    <img src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-facebook.png" alt=""
                        class="footer__connect-shop-social-img">
                </a>
                <a href="#" class="footer__connect-shop-social-link">
                    <img src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-instagram.png" alt=""
                        class="footer__connect-shop-social-img">
                </a>
                <a href="#" class="footer__connect-shop-social-link">
                    <img src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-tiktok.png" alt=""
                        class="footer__connect-shop-social-img">
                </a>
                <a href="#" class="footer__connect-shop-social-link">
                    <img src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-zalo.png" alt=""
                        class="footer__connect-shop-social-img">
                </a>
            </div>
            <h3 class="footer__connect-shop-web-title">Website thành viên</h3>
            <div class="footer__connect-shop-web">
                <p class="footer__connect-shop-web-heading">Hệ thống bảo hành sửa chữa Điện thoại - Máy tính</p>
                <a href="#" class="footer__connect-shop-web-link">
                    <img src="https://cdn2.cellphones.com.vn/x30,webp/media/logo/corp-members/dienthoaivui.png" alt=""
                        class="footer__connect-shop-web-img">
                </a>
            </div>
            <div class="footer__connect-shop-web">
                <p class="footer__connect-shop-web-heading">Trung tâm bảo hành uỷ quyền Apple</p>
                <a href="#" class="footer__connect-shop-web-link">
                    <img src="https://cdn2.cellphones.com.vn/x/media/wysiwyg/Logo_CareS_1.png" alt=""
                        class="footer__connect-shop-web-img">
                </a>
            </div>
            <div class="footer__connect-shop-web">
                <p class="footer__connect-shop-web-heading">Kênh thông tin giải trí công nghệ cho giới trẻ</p>
                <a href="#" class="footer__connect-shop-web-link">
                    <img src="https://cdn2.cellphones.com.vn/x30,webp/media/logo/corp-members/schanel.png" alt=""
                        class="footer__connect-shop-web-img">
                </a>
            </div>
            <div class="footer__connect-shop-web">
                <p class="footer__connect-shop-web-heading">Trang thông tin công nghệ mới nhất</p>
                <a href="#" class="footer__connect-shop-web-link">
                    <img src="https://cdn2.cellphones.com.vn/x30,webp/media/logo/corp-members/sforum.png" alt=""
                        class="footer__connect-shop-web-img">
                </a>
            </div>
        </div>
    </div>
</div>