<nav class="header">
    <div class="header">
        <div class="header__logo">
            <a href="/" class="header__logo-link" style="text-decoration: none;">
                <h3 class="header__logo-heading">SHOP_PTT</h3>
                <i class="header__logo-icon fa-solid fa-hippo "></i>
            </a>
        </div>

        <div class="header__category">
            <i class="header__category-icon fa-solid fa-list"></i>
            <span class="header__category-heading">
                Danh mục
            </span>
        </div>

        <div class="header__view">
            <div class="header__view-name-icon">
                <i class="header__view-icon fa-solid fa-location-dot"></i>
            </div>

            <div class="header__view-link-heading">
                <div class="header__view-link-heading-address">
                    <span class="header__view-link-heading-address-title">
                        Xem giá tại
                    </span>
                    <i class="header__view-link-heading-address-icon fa-solid fa-chevron-down"></i>
                </div>
                <span class="header__view-link-heading-current-address">
                    Hà Nội
                </span>
            </div>
        </div>

        <div class="header__search">
            <div class="header__search-item">
                <i class="header__search-icon fa-solid fa-magnifying-glass"></i>
            </div>

            <div class="header__search-input-item">
                <form method="get" action="/search">
                    <input type="text" name="q" placeholder="Bạn cần tìm gì?" class="header__search-input">
                    <button class="header__search-input-item-icon"></button>
                </form>
                <div class="header__suggest-search">
                    <div class="header__suggest-banner-search">
                        <a href="" style="text-decoration: none;">
                            <img src="https://cdn2.cellphones.com.vn/x/https://dashboard.cellphones.com.vn/storage/smember-30-search.png"
                                alt="" class="header__suggest-banner-search-img">
                        </a>
                    </div>
                    <div class="header__suggest-history">
                        <div class="header__suggest-history-search">
                            <div class="header__suggest-history-title">
                                <p class="header__suggest-history-title-heading">
                                    Lịch sử tìm kiếm
                                </p>
                                <i class="header__suggest-history-title-icon fa-solid fa-rotate-right"></i>
                            </div>
                            <a href="#" class="header__suggest-history-del" style="color: var(--text-color);">
                                Xóa tất cả
                                <i class="header__suggest-history-del-icon fa-solid fa-trash"></i>
                            </a>
                        </div>
                        <div class="header__suggest-search-history-box"></div>
                    </div>
                    <div class="header__suggest-trending">
                        <div class="header__suggest-trending-heading">
                            <p>Xu hướng tìm kiếm</p>
                            <i class="fa-solid fa-fire"></i>
                        </div>

                        <div class="header__suggest-trending-box">
                            <div class="header__suggest-trending-box-content">
                                <div class="grid__column-5">
                                    <a href="#" class="header__suggest-trending-link" style="text-decoration: none;">
                                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:40:0/q:100/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-15-pro-max_2__1.jpg"
                                            alt="" class="header__suggest-trending-img">
                                        <p>iPhone 15 Series</p>
                                    </a>
                                    <a href="#" class="header__suggest-trending-link" style="text-decoration: none;">
                                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:40:0/q:100/plain/https://cellphones.com.vn/media/catalog/product/s/a/samsung-galaxy-m34-5g_1_2.png"
                                            alt="" class="header__suggest-trending-img">
                                        <p>
                                            <p>Galaxy M34 5G</p>
                                        </p>
                                    </a>
                                    <a href="#" class="header__suggest-trending-link" style="text-decoration: none;">
                                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/ipad-air-6-m2-11-inch-256gb.jpg"
                                            alt="" class="header__suggest-trending-img">
                                        <p>iPad Air 2024</p>
                                    </a>
                                    <a href="#" class="header__suggest-trending-link" style="text-decoration: none;">
                                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/ipad-pro-m4-11-inch-1.png"
                                            alt="" class="header__suggest-trending-img">
                                        <p>iPad Pro 2024</p>
                                    </a>
                                    <a href="#" class="header__suggest-trending-link" style="text-decoration: none;">
                                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/m/b/mba13-m3-spacegray-gallery1-202402_4.jpg"
                                            alt="" class="header__suggest-trending-img">
                                        <p>Macbook Air M3</p>
                                    </a>
                                </div>
                                <div class="grid__column-5">
                                    <a href="#" class="header__suggest-trending-link" style="text-decoration: none;">
                                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:40:0/q:100/plain/https://cellphones.com.vn/media/catalog/product/5/5/55y72-4.jpg"
                                            alt="" class="header__suggest-trending-img">
                                        <p>Tivi Coocaa 4K 55 inch 55Y72</p>
                                    </a>
                                    <a href="#" class="header__suggest-trending-link" style="text-decoration: none;">
                                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:40:0/q:100/plain/https://cellphones.com.vn/media/catalog/product/m/a/may-quay-chong-rung-dji-osmo-pocket-3-advanced-4k_8_.png"
                                            alt="" class="header__suggest-trending-img">
                                        <p>DJI Pocket 3</p>
                                    </a>
                                    <a href="#" class="header__suggest-trending-link" style="text-decoration: none;">
                                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/m/a/may-chup-anh-lay-lien-fujifilm-instax-mini-40_4_.png"
                                            alt="" class="header__suggest-trending-img">
                                        <p>Instax Mini 40</p>
                                    </a>
                                    <a href="#" class="header__suggest-trending-link" style="text-decoration: none;">
                                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/r/o/robot-hut-bui-dreame-bot-x30-ultra_14_.png"
                                            alt="" class="header__suggest-trending-img">
                                        <p>Dreame Bot X30 Ultra</p>
                                    </a>
                                    <a href="#" class="header__suggest-trending-link" style="text-decoration: none;">
                                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/p/s/ps5_01_withnotice-res-1592018255-513-width660height540_1.jpeg"
                                            alt="" class="header__suggest-trending-img">
                                        <p>Play Station</p>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="header__contact">
            <div class="header__contact-phone">
                <i class="header__contact-phone-icon fa-solid fa-phone"></i>
            </div>

            <div class="header__contact-title">
                <span class="header__contact-heading">
                    Gọi mua hàng
                </span>

                <span class="header__contact-sdt">
                    0967987730
                </span>
            </div>
        </div>

        <div class="header__store">
            <a href="#" class="header__store-link" style="text-decoration: none;">
                <div class="header__store-name-icon">
                    <i class="header__store-icon fa-solid fa-location-dot"></i>
                </div>
                <div class="header__store-link-heading">
                    <div class="header__store-link-heading-address">
                        <span class="header__store-link-heading-address-title">
                            Cửa hàng
                        </span>
                        <span class="header__store-link-heading-address-title">
                            gần bạn
                        </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="header__find">
            <a href="#" class="header__find-link" style="text-decoration: none;">
                <div class="header__find-item">
                    <i class="header__find-icon fa-solid fa-truck-fast"></i>
                </div>
                <div class="header__find-title">
                    <span class="header_find-title-heading">
                        Tra cứu
                    </span>
                    <span class="header_find-title-heading">
                        Đơn hàng
                    </span>
                </div>
            </a>
        </div>

        {{#if user}}
        <div class="header__register">
            <a href="#" class="header__register-link" style="text-decoration: none;">
                <div class="header__register-item">
                    <i class="header__register-icon fa-solid fa-circle-user"></i>
                </div>
                <span class="header__register-title">{{user.TenND}}</span>
            </a>
        </div>

        <div class="header__login">
            <a href="/logout" class="header__login-link" style="text-decoration: none;">
                <div class="header__login-item">
                    <i class="header__login-icon fa-solid fa-right-from-bracket"></i>
                </div>
                <span class="header__login-title">Đăng xuất</span>
            </a>
        </div>
        {{else}}
        <div class="header__register">
            <a href="/register" class="header__register-link" style="text-decoration: none;">
                <div class="header__register-item">
                    <i class="header__register-icon fa-solid fa-circle-user"></i>
                </div>
                <span class="header__register-title">Đăng ký</span>
            </a>
        </div>

        <div class="header__login">
            <a href="/login" class="header__login-link" style="text-decoration: none;">
                <div class="header__login-item">
                    <i class="header__login-icon fa-solid fa-circle-user"></i>
                </div>
                <span class="header__login-title">Đăng nhập</span>
            </a>
        </div>
        {{/if}}
    </div>
</nav>