<div class="grid">
    <div class="contain">
        <div class="grid__column-2">
            <div class="contain__list-search">
                <div class="contain__list-item">
                    <i class="contain__list-icon fa-solid fa-mobile-screen"></i>
                    <span class="contain__list-heading">Điện thoại</span>
                    <i class="contain__list-icon-next fa-solid fa-chevron-right"></i>
                </div>

                <div class="contain__list-item">
                    <i class="contain__list-icon fa-solid fa-laptop"></i>
                    <span class="contain__list-heading">Laptop</span>
                    <i class="contain__list-icon-next fa-solid fa-chevron-right"></i>
                </div>

                <div class="contain__list-item">
                    <i class="contain__list-icon fa-regular fa-clock"></i>
                    <span class="contain__list-heading">Đồng hồ</span>
                    <i class="contain__list-icon-next fa-solid fa-chevron-right"></i>
                </div>

                <div class="contain__list-item">
                    <i class="contain__list-icon fa-solid fa-desktop"></i>
                    <span class="contain__list-heading">PC,Màn hinhg</span>
                    <i class="contain__list-icon-next fa-solid fa-chevron-right"></i>
                </div>

                <div class="contain__list-item">
                    <i class="contain__list-icon fa-solid fa-rotate"></i>
                    <span class="contain__list-heading">Thu cũ đổi mới</span>
                    <i class="contain__list-icon-next fa-solid fa-chevron-right"></i>
                </div>

                <div class="contain__list-item">
                    <i class="contain__list-icon fa-brands fa-product-hunt"></i>
                    <span class="contain__list-heading">Hàng mới</span>
                    <i class="contain__list-icon-next fa-solid fa-chevron-right"></i>
                </div>

                <div class="contain__list-item">
                    <i class="contain__list-icon fa-solid fa-percent"></i>
                    <span class="contain__list-heading">Khuyến mãi</span>
                    <i class="contain__list-icon-next fa-solid fa-chevron-right"></i>
                </div>

                <div class="contain__list-item">
                    <i class="contain__list-icon fa-solid fa-newspaper"></i>
                    <span class="contain__list-heading">Tin công nghệ</span>
                    <i class="contain__list-icon-next fa-solid fa-chevron-right"></i>
                </div>


            </div>
        </div>
        <div class="grid__column-6">
            <div class="slider">
                <div class="slider__item-prev">
                    <i class="slider-icon-prev fa-solid fa-chevron-left"></i>
                </div>
                <div class="slider-link-item">
                    <a href="https://phanthanhthang123.github.io/thucanh1602/" class="slider__item-link">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/Sliding-690x300_KT%20BP_B%C4%90%20(1).jpg"
                            alt="" class="slider-img">
                    </a>
                </div>
                <div class="slider__item-next">
                    <i class="slider-icon-next fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="grid__column-2">
            <div class="advertisement">
                <a href="#" class="advertisement-link">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:10/plain/https://dashboard.cellphones.com.vn/storage/Rightbanner-Galaxy-M34-5G-10-5-2024.png"
                        alt="" class="advertisement-img">
                </a>
                <a href="#" class="advertisement-link">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:10/plain/https://dashboard.cellphones.com.vn/storage/right-banner-ipad-th444.jpg"
                        alt="" class="advertisement-img">
                </a>
            </div>
        </div>
    </div>

    <div class="update">
        <div class="update-img">
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:1200:75/q:90/plain/https://dashboard.cellphones.com.vn/storage/smember-30-special-desk-update.gif"
                alt="" class="update-img-item">
        </div>
    </div>

    <div class="productsSale">
        <div class="productsSale__weekend">
            <div class="productsSale__weekend-title">
                <img src="https://cdn2.cellphones.com.vn/x/media/catalog/product/h/o/hotsale-gia-soc-20-03-gif.gif"
                    class="productsSale__weekend-img" alt="">
            </div>
            <div class="productsSale__weekend-btn">
                <button class="productsSale__weekend-btn-phone">Điện thoại,TV</button>
                <button class="productsSale__weekend-btn-accessory">Phụ kiện</button>
            </div>
        </div>
        <div class="productsSale__weekend-time">
            <h3 class="productsSale__weekend-time-end">Kết thúc sau: </h3>
            <span class="productsSale__weekend-time-days" id="days"></span>
            <div class="productsSale__weekend-time__">
                <span class="productsSale__weekend-time_"></span>
                <span class="productsSale__weekend-time_"></span>
            </div>
            <span class="productsSale__weekend-time-hours" id="hours"></span>
            <div class="productsSale__weekend-time__">
                <span class="productsSale__weekend-time_"></span>
                <span class="productsSale__weekend-time_"></span>
            </div>
            <span class="productsSale__weekend-time-minutes" id="minutes"></span>
            <div class="productsSale__weekend-time__">
                <span class="productsSale__weekend-time_"></span>
                <span class="productsSale__weekend-time_"></span>
            </div>
            <span class="productsSale__weekend-time-seconds" id="seconds"></span>
        </div>
        <div class="productsSale__products" style="height: 100px; background-color: #f83f5f;">

        </div>
    </div>
</div>

<div class="grid">
    <div class="content">
        <div class="content__header">
            <h2 class="content__header-heading">ĐIỆN THOẠI NỔI BẬT NHẤT</h2>
            <div class="content__suggest">
                <a href="#" class="content__suggest-box" style="text-decoration: none;">
                    Apple
                </a>
                <a href="#" class="content__suggest-box" style="text-decoration: none;">
                    SamSung
                </a>
                <a href="#" class="content__suggest-box" style="text-decoration: none;">
                    Xiaomi
                </a>
                <a href="#" class="content__suggest-box" style="text-decoration: none;">
                    OPPO
                </a>
                <a href="#" class="content__suggest-box" style="text-decoration: none;">
                    vivo
                </a>
                <a href="#" class="content__suggest-box" style="text-decoration: none;">
                    realme
                </a>
                <a href="#" class="content__suggest-box" style="text-decoration: none;">
                    ASUS
                </a>
                <a href="#" class="content__suggest-box" style="text-decoration: none;">
                    TECNO
                </a>
                <a href="#" class="content__suggest-box" style="text-decoration: none;">
                    Nokia
                </a>
                <a href="#" class="content__suggest-box" style="text-decoration: none;">
                    Xem tất cả
                </a>
            </div>
        </div>

        <div class="content__body">
            {{#each data}}
            <div class="content__body-box grid__column-1_8">
                <a href="#" class="content__body-box-link" style="text-decoration: none;">
                    <div class="content__body-box-link-block">
                        <img src="{{this.Anh}}" alt="" class="content__body-box-img">
                    </div>
                    <h3 class="content__body-box-heading">{{this.TenSP}}</h3>
                    <div class="content__body-box-price">
                        <p class="content__body-box-price-show">{{this.GiaMoi}}0.000₫</p>
                        <div class="content__body-box-price-through">{{this.GiaGoc}}0.900₫</div>
                    </div>
                    <div class="content__body-box-smem">
                        Smember giảm thêm đến
                        <span>136.000₫</span>
                    </div>
                    <div class="content__body-box-promotion">
                        <p class="content__body-box-promotion-des">Không phí chuyển đổi khi trả góp 0% qua thẻ tín dụng
                            kỳ hạn 3-6 tháng</p>
                    </div>
                </a>
                <div class="content__body-box-review">
                    <div class="content__body-box-review-rating">
                        <i class="content__body-box-review-rating-icon fa-solid fa-star"></i>
                        <i class="content__body-box-review-rating-icon fa-solid fa-star"></i>
                        <i class="content__body-box-review-rating-icon fa-solid fa-star"></i>
                        <i class="content__body-box-review-rating-icon fa-solid fa-star"></i>
                        <i class="content__body-box-review-rating-icon fa-solid fa-star"></i>
                    </div>
                    <div class="content__body-box-review-wish">
                        <span class="content__body-box-review-heading">Yêu thích</span>
                        <i class="content__body-box-review-icon fa-solid fa-heart"></i>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>