<div class="grid">
    {{!-- <div class="content-home" style="margin-bottom:12px">
        {{#if Message}}
        <div class="alert alert-danger">
            <h3>{{Message}}</h3>
        </div>
        {{/if}}

    </div> --}}

    <div class="content-home form-content">

        <form action="/register" method="POST" class="form" id="form-1">
            <h3 class="heading">Thành viên đăng ký</h3>
            <p class="desc">Cùng nhau mua sắm tại SHOP_PTT ❤️</p>

            <div class="spacer"></div>

            <div class="form-group">
                <label for="fullname" class="form-label">Tên đầy đủ</label>
                <input id="fullname" name="fullname" type="text" placeholder="VD: Phan Thanh Thắng"
                    class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Mật khẩu</label>
                <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="password_confirmation" class="form-label">Nhập lại mật khẩu</label>
                <input id="password_confirmation" name="password_confirmation" placeholder="Nhập lại mật khẩu"
                    type="password" class="form-control">
                <span class="form-message"></span>
            </div>

            <button class="form-submit">Đăng ký</button>

            {{#if message}}
                <h1 style="font-size: 1.4rem; color:var(--primary-color);" >{{message}}</h1>
            {{/if}}

        </form>
        <div class="form-message-global"></div>
    </div>
</div>

<script src="/js/register.js"></script>
